<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Temperature by ZIP code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body>